//- link(rel='stylesheet',href='https://s3-us-west-2.amazonaws.com/pesticide/1.2.0/pesticide.min.css')


link(rel='stylesheet',href='css/bootstrap.min.css')
link(rel='stylesheet',href='css/bootstrap-rtl.css')
link(rel='stylesheet',href='css/Ionicons.css')
link(rel='stylesheet',href='css/repaintless.css')
link(rel='stylesheet',href='css/cssco.css')
link(rel='stylesheet',href='css/balloon.min.css')
link(rel='stylesheet',href='css/main.css')


link(rel='shortcut icon',href='favicon.ico')
link(rel='apple-touch-icon',href='apple-touch-icon.png')
