doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title CODZIN
    meta(name='description',content='_______________INSERT_DECRIPTION_HERE_______________')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    include pages/partials/links
    
  body
    block content 
    
    
    
    include pages/partials/scripts 
